default:
  suites:
    search:
      contexts: [ Context\SearchContext ]
  formatters:
    pretty: ~
  extensions:
    Behat\MinkExtension:
      base_url: 'http://www.google.co.uk/'
      goutte:   ~
    SensioLabs\Behat\PageObjectExtension: ~
