{% extends 'layout.twig' %}

{% block body %}
    <h1>Add article</h1>

    <form action="{{ path('add_article') }}" method="POST" class="well">
        {{ form_widget(form) }}

        <input type="submit" value="Preview" class="btn btn-primary" />
    </form>

    {% if showPreview %}
        <div class="preview">
            <h2>{{ form.vars.value.title }}</h2>
            <p>
                {{ form.vars.value.body }}
            </p>
        </div>
    {% endif %}
{% endblock %}
