{% extends 'layout.twig' %}

{% block body %}
    <h1>Welcome!</h1>

    <div class="well">
        <a href="{{ path('add_article') }}" class="btn btn-success btn-large">Add article</a>
    </div>
{% endblock %}
