{% extends 'layout.twig' %}

{% block body %}
    <h1>Welcome!</h1>

    <div class="well">
        <a href="{{ path('add_article') }}" class="btn btn-success btn-large">Add article</a>
    </div>

    <div>
       <div class="article">
         <h2>Case studies</h2>
         <p>Lorem Ipsum 4</p>
       </div>
       <div class="article">
         <h2>Creating Behat extensions</h2>
         <p>Lorem Ipsum 2</p>
       </div>
       <div class="article">
         <h2>Behat from scratch</h2>
         <p>Lorem Ipsum 1</p>
       </div>
    </div>
{% endblock %}
